<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Sobre este Buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <label>
      <a href="https://www.facebook.com/IIGEEcuador/" target="_blank">
        Instituto de Investigación Geológico y Energético
      </a>
    </label>
    <a slot="end" href="https://www.facebook.com/IIGEEcuador/" target="_blank">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <p text-justify>Este software le permitirá a usted realizar la búsqueda de unidades litoestratigráficas y permite
        dar a conocer las unidades geológicas reconocidas en el Ecuador.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Objetivo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p text-justify>Disponer de una base de datos consultable de todas las unidades litoestratigráficas, sus edades y
        abreviaturas que pueda ser alimentada constantemente según avance el trabajo geológico de campo.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Beneficiados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p text-justify>En el IIGE favorece al personal geológico de campo que define y caracteriza los cuerpos rocosos,
        así como, al personal profesional y académico de geociencias de entidades públicas y privadas que trabajen en
        el área geológica.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Utilidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p text-justify>Sirve como insumo de trabajo para generadores de cartografía geológica, además de ser una fuente
        de consulta de las unidades geológicas existentes en el Ecuador.</p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>
      <h4>Desarrollador</h4>
      <h5>Manuel Almaguer (manunoly)</h5>
      <small>Ing. Sistemas y Analista Técnico del IIGE</small>
    </ion-label>
    <div slot="end">
      <div ion-row>
        <a padding target="_blank" block href="tel:593987969776">
          <ion-icon name="call"></ion-icon>
        </a>
      </div>
      <div ion-row>
        <a padding target="_blank" block href="mailto:manunoly@gmail.com?subject=Buscador de Códigos Litoestratigráficos">
          <ion-icon name="mail"></ion-icon>
        </a>
      </div>
    </div>
  </ion-item>
</ion-content>